<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Reset Your Password</title>

    <link href="/css/global.css" rel="stylesheet" />
  </head>
  <body>
    <div class="spinner text-center d-none" id="newPasswordSpinner"></div>
    <div class="container" id="newPasswordContent">
      <div class="row">
        <div class="col col-md-12">
          <h1 class="text-center">Reset Your Password</h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <div id="alertMessage" class="d-none mt-3 mb-4">
            <div
              data-alert-content
              class="alert alert-danger"
              role="alert"
            ></div>
          </div>
        </div>
      </div>
      <div id="resetPasswordContent">
        <div class="row">
          <div class="col col-md-12">
            <p class="mt-2">
              Now that you have confirmed your identity by clicking on the link,
              you can choose a new password. Input your new password below.
            </p>
          </div>
        </div>
        <form id="newPasswordForm" autocomplete="off" novalidate>
          <div class="row">
            <div class="col col-md-6 offset-md-3 my-3">
              <div class="form-group">
                <label for="newpassword">New Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="newpassword"
                  autocomplete="new-password"
                  required
                  autofocus
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-6 offset-md-3">
              <button type="submit" class="btn btn-primary mb-2">
                Save New Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript" src="/page/reset-password/logic.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
  </body>
</html>
